.link{
  font-size: 20px;
  color: blue;
}
body{
  margin: 0px;
padding: 0px;
}

.container{
  margin: auto auto;
  display: flex;
  flex-direction: column;
  
  
  border: cornflowerblue 2px solid;
  width: 60vw;
  height: 90vh;

}

img{
  width: 50vh;
  height: auto;
}
label{
  color: rgb(0,0,0,0.4);
}

.img-container{
  margin: auto auto;
  display: flex;
  flex-direction: column;
  
}


.body-container{
  margin: auto auto;
  display: flex;
  flex-direction: column;
  
}


.box{
  margin:20px;
  padding: 30px;
  background-color: cornsilk;
  list-style: none;
  text-align: center;
}
.book{
  margin: 20px;
  background-color: cyan;
  text-align: center;
  padding: 20px;
  width: 25vw;
  height: 10vh;
}

.cover{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: content;
align-content: stretch;
background-color: darkgray;
margin:0px;
min-height: 100vh;


}

